<style>
    p {
        font-weight: bold;
        font-size: 20px;
    }
    h1 {
        color: red;
    }
</style>

<html>
    <body>
        <center>
            <h1>ATTENZIONE!</h1>
            <h2>Questo non è un vero sito!</h2>
            <p>Questo sito è stato creato solo per divertimento.<br>Non garantiamo nessun tipo di vera protezione ai dati, non garantiamo alcun tipo di protezione ai vostri account e vi sconsigliamo l'uso di questo sito per lavoro, ma anche per uso personale.<br>Se proprio volete usarlo, non caricate file importanti<br>Usate <a href="https://drive.google.com">Google Drive</a> :)<br><br><br><br><br><br><br><br><br>Ciao dal developer che ha perso tempo della sua vita per fare questo sito NON vero, Leo</p>
        </center>
        <!--Non fate domande se il codice è in una sola linea...-->
        <!--Non avevo voglia di fare un div... ciao, baci, saluti, arrivederci, usate Google Drive :)-->
    </body>
</html>
